{{!--SAMPLE BULMA BOOK CARD--}}
<br>
<br>
<div class="container">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{cover_image}}" alt="{{title}} cover image">
      </figure>
    </div>
    <div class="card-content">
      <p class="title is-4">{{title}}, ({{genre}}) </p>
      <p class="subtitle is-6">Author: {{author}}</p>
      <p>Description: {{description}}</p>
      {{#if logged_in}}
      <button class="btn btn-primary" data-id="{{id}}">Add to my books!</button>
      {{/if}}

    </div>
  </div>
</div>
