<div class="container">
  <div class="column">
    <div class="box">
      <p class="title is-5">Find your next book to read</p>
      <input id="input" class="input is-primary" type="text" placeholder="Search for a book">
      <button id="search-book">search</button>
    </div>
  </div>
</div>

<main id="main" class="container">
  <!-- Each book will be a clickable div that takes you to its detail page. -->
</main>

<div id="bookModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Modal content goes here -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>


<!-- Loop over each object in the books array -->
{{!-- <div class="container">
  <div class="row">
    {{log books}}
    {{#each books as |book| }}

    {{!-- <div class="card">

      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
      </div>

      <div class="card-content">
        <h3><a href="/book/{{book.id}}">{{book.title}} ({{book.genre}})</a></h3>
        <p class="subtitle is-6">Author: {{book.author}}</p>
        <p>Discription: {{book.description}}</p>
        <button class="btn btn-primary">Add to my books!</button>
      </div>
    </div> --}}

    {{!-- {{/each}}
  </div>
</div> --}}